@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  position: relative;
  width: 375px;
  height: 5410px;
  background: #fff;
  margin-left: 30px;
  display: grid;
}

/* .full-wrapper {
  position: absolute;
  width: 375px;
  height: 718px;
  left: 1px;
  background-color: #fffffffa;
  align-items: center;
  background-color: #396DF2;
} */

.image {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: -0.28px;
  color: #000000fb;
  margin-left: 1px;
}

.nav-wrapp {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  width: 375px;
  height: 92px;
  left: 0;
  top: 44px;
  bottom: 0;
  align-items: center;
  padding: 5px, 5px;
  margin-left: 200px;
}

.nav-wrapp > .logo {
  position: static;
  width: 76px;
  height: 20px;
  left: 0;
  top: 10px;
  font-style: normal;
  font-weight: 1000;
  font-size: 19px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0 0;
}

a {
  text-decoration: none;
  color: #6070ff;
}

.nav-wrapp > .right-nav {
  position: static;
  width: 76px;
  height: 20px;
  right: 12px;
  top: 10px;
  color: #6070ff;
}

.content-wrapper {
  background-image: url(images.jpeng/header-shapes\ mobile@2x.png);
  align-items: flex-start;
  padding: 114px 24px;
  position: absolute;
  width: 375px;
  height: 604px;
  left: calc(100% - 375px / 2);
  top: 92px;
  font-family: "poppins", sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
}

.content-wrapper > .header {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 12px;
  position: static;
  width: 327px;
  height: 150px;
  left: 24px;
  top: 114px;
  font-family: "poppins", sans-serif;
}

.content-wrapper > .about {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  position: static;
  width: 327px;
  height: 146px;
  left: 24px;
  top: 276px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 12px 0;
  font-family: "poppins", sans-serif;
}

.content-wrapper > .connect {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  padding: 0;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 12px 0;
}

.content-wrapper > .social-icons > ul {
  flex: none;
  order: 3;
  flex-grow: 0;
  margin: 12px;
  flex-direction: row;
  display: inline-flex;
  justify-content: space-around;
  position: static;
  width: 170.17px;
  height: 20px;
  left: 24px;
  top: 470px;
  list-style-type: none;
  margin-left: -10px;
}

.card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  position: static;
  width: 327px;
  height: 552px;
  left: calc(50% - 327px / 2);
  top: 114px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 88px 0;
}

.card > .block {
  position: static;
  width: 295px;
  height: 220px;
  left: 16px;
  top: 16px;
  background: url(blog_drbl_4x.png);
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 12px 0;
}

.card > .project {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  position: static;
  width: 295px;
  height: 288px;
  left: 16px;
  top: 248px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 12px 0;
}

.card > .title {
  position: static;
  width: 295px;
  height: 36px;
  left: 0;
  top: 0;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 12px 0;
}

.project > .inline-summary {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  position: static;
  width: 236px;
  height: 32px;
  left: 0;
  top: 48px;
  justify-content: space-between;
  flex: none;
  list-style-type: none;
  flex-grow: 0;
  margin: 12px 0;
}

.project > .content {
  position: static;
  width: 295px;
  height: 76px;
  left: 0;
  top: 92px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  flex: none;
}

.project > .categorie-work {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  position: static;
  width: 203px;
  height: 24px;
  left: 0;
  top: 180px;
  color: #6070ff;
  justify-content: space-between;

  /* Inside auto layout */
  list-style-type: none;
  flex: none;
  flex-grow: 0;
  margin: 12px 0;
}

.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  justify-content: center;
  position: static;
  width: 65px;
  height: 26px;
  left: 12px;
  top: 4px;
  color: #6070ff;

  /* Primary/B50 */
  list-style-type: none;
  background: #ebebff;
  border-radius: 8px;
  border-style: none;
  align-content: center;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 0 8px;
}

.see-button {
  position: static;
  /* width: 195px;
  height: 72px; */
  left: 0;
  color: #396df2;
  background-color: #fff;
  flex: none;
  flex-grow: 0;
  margin: 12px 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  top: calc(50% - 48px / 2);
  border: 1px solid #6070ff;
  border-radius: 8px;
}

.see-button:hover {
  background-color: #6070ff;
  color: #fff;
}

.about-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 114px 24px;
  position: static;
  width: 375px;
  height: 1125.15px;
  left: calc(50% - 375px / 2);
  top: 3495px;
}

.about-wrapper .info {
  position: static;
  width: 327px;
  height: 101px;
  left: 0;
  top: 0;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
}

.about-wrapper > .skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  position: static;
  width: 327px;
  height: 464.15px;
  left: 24px;
  top: 547px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 24px 0;
}

.info > .myself {
  position: static;
  width: 327px;
  height: 101px;
  left: 0;
  top: 0;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  flex-grow: 0;
  margin: 12px 0;
}

.info > .content {
  position: static;
  width: 327px;
  height: 144px;
  left: 0;
  top: 113px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  flex: none;
  flex-grow: 0;
  margin: 12px 0;
}

.info > .connect {
  position: static;
  width: 200px;
  height: 24px;
  left: 0;
  top: 0;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  flex: none;
  flex-grow: 0;
  margin: 0 8px;
}

.info > .social-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  position: static;
  width: 200px;
  height: 40px;
  left: 0;
  top: 40px;
  justify-content: space-between;
  list-style-type: none;
  margin: 16px 0;
}

.skills > .language-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  position: static;
  width: 327px;
  height: 464.15px;
  left: 24px;
  top: 547px;
  list-style-type: none;

  /* Inside auto layout */

  margin: 24px 0;
}

.contact-container {
  position: absolute;
  width: 375px;
  height: 779px;
  left: 0;
  top: 4200px;
  background: #6070ff;

  /*
  transform: matrix(1, 0, 0, -1, 0, 0);  */
  background-image: url(images.jpeng/contactformshapes-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 100px;
}

.contact > .heading {
  position: static;
  width: 801px;
  height: 190px;
  left: -200px;
  top: 4734px;

  /* Header / 2 */

  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;

  /* or 130% */

  display: flex;
  align-items: center;
  text-align: center;

  /* Neutrals/N0 */
  margin-left: 60px;
  padding-top: 125px;
  color: #fff;
}

.contact > .content {
  position: static;
  width: 327px;
  height: 102px;
  left: 24px;
  top: 4802px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;

  /* or 140% */

  text-align: center;

  /* Primary/B50 */

  color: #ebebff;
}

form {
  width: 150px;
}

input[type=text] {
  position: absolute;
  height: 48px;
  left: 10px;
  right: 10px;
  top: calc(50% - 48px / 2);
  bottom: 0;
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  padding-left: 10px;
  color: #172b4d;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
}

input[type=Email] {
  position: absolute;
  height: 48px;
  left: 10px;
  right: 10px;
  top: calc(60% - 48px / 2);
  bottom: 0;
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  padding-left: 10px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #172b4d;
}

textarea[id=subject] {
  position: absolute;
  left: 10px;
  right: 10px;
  top: 530px;
  bottom: 0;
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  height: 150px;
  padding-left: 10px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #b3bac5;
}

.form-container-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 16px;
  position: absolute;
  width: 140px;
  height: 48px;
  left: 24px;
  top: 700px;
  background: #fff;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #6070ff;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0 0;
  outline: none;
  border: none;
  padding-left: 10px;
}

/* destop reponsiveness */
@media only screen and (min-width: 768px) {
  .contact-container {
    flex-direction: row;
    width: 1000px;
  }

  /* .info{
    flex-direction: row;
    width: 1000px;
    display: flex;
  } */

  .card {
    flex-direction: row;
    min-width: 1000px;
    display: flex;
    margin: 200px;
  }

  .content-wrapper {
    flex-direction: column;
    width: 900px;
    display: flex;
    margin: 10px;
  }

  .content {
    flex-direction: row;
    width: 1000px;
    display: flex;
  }
  #card2{
    flex-direction: row-reverse;
    align-content: center;
  }
}
